<div class="user_box">
  <%= link_to profile_path(user.userid) do %>
    <div class="d-flex justify-content-between border-bottom">
      <div class="d-flex text-muted pt-3">
        <% if user.image.nil? %>
          <%= image_tag "default_icon", class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
        <% else %>
          <%= image_tag "/user_images/#{user.image}", class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
        <% end %>
        <p class="pb-3 mb-0 small lh-sm  w-100">
          <strong class="d-block text-gray-dark"><%= user.name %> (<%= user.nickname %>)</strong>
          @<%= user.userid %>
        </p>
      </div>
      <% if defined?(friends) %>
        <div style="padding-top: 19px">
          <% if is_user_favorite?(favorite_model, fixed_current_user, user) %>
            <%= link_to page_favorite_user_delete_path(user.id, fixed_current_user.id), method: :delete, class: 'bg-white', style: "border: none;color: rgba(29, 144, 190, 0.8);", data: { disable_with: '<i class="far fa-star"></i>' } do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% else %>
            <%= link_to page_favorite_user_create_path(user.id), method: :post, class: 'bg-white', style: "border: none;color: rgba(29, 144, 190, 0.8);", data: { disable_with: '<i class="fas fa-star"></i>' } do %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>