<%= stylesheet_link_tag 'profiles' %>
<%= javascript_pack_tag 'profiles/edit' %>
<%= javascript_pack_tag 'profiles/header_edit' %>
<script>
    $(document).ready(function () {
        $('#accreditation').tagit({
            tagLimit: 40,
            placeholderText: '資格は40個までです',
            singleField: true,
            availableTags: <%= raw @all_tag_list %>
        });
        $('#tag').tagit({
            tagLimit: 40,
            placeholderText: 'タグは40個までです',
            singleField: true,
            availableTags: <%= raw @all_tag_list %>
        });
        <% if defined?(@image)%>
          $('.user_image').hide()
          $('#result-img').show()
        <% end %>
    });
</script>

<%= form_with model: current_user, url: profile_path, method: :put, multipart: true do |f| %>
  <%= render "profiles/image_model" , form:f%>
  <%= render "profiles/header_modal", form:f %>


  <div class="container" style="max-width: 960px">
    <div class="py-5 text-center">
      <h2>プロフィール編集</h2>
      <%= render 'layouts/error_messages', model: f.object %>
      <p class="lead">ここではプロフィールを変更することが出来ます</p>

      <p id="header_text">現在のヘッダー</p>
      <div id="user_header">
        <label>
          <button type="button" class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#headerModal"></button>
          <%= image_tag current_user.decorate.header, class: "user_header w-100 h-auto" %>
        </label>
      </div>
      <label>
        <button type="button" class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#headerModal"></button>
        <canvas id="header_cropped_canvas" style="display:none;width: 200px;height: 200px;"></canvas>
        <img src="<%=@image if defined?(@image) %>" id="header_result-img" style="display:none;width: 100%;height: auto;">
      </label>

      <p id="image_text">現在のアイコン</p>
      <div id="user_icon">
        <label>
          <button type="button" class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
          <%= image_tag current_user.decorate.image, :size => '200x200', class: "user_image" %>
        </label>
      </div>
      <label>
        <button type="button" class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
        <canvas id="cropped_canvas" class="w-100 h-auto" style="display:none;width: 200px;height: 200px;"></canvas>
        <img src="<%=@image if defined?(@image) %>" id="result-img" style="display:none;width: 200px;height: 200px;">
      </label>
    </div>
    <div class="row g-3">
      <div class="col-md-12">
        <div class="row g-3">
          <h3 class="text-center">プロフィール</h3>
          <div class="col-sm-6">
            <%= f.label "本名(2~20文字)", class: "form-label" %>
            <%= f.text_field :name, class: "form-control", id: "name", placeholder: "Name", maxlength: "20" %>
          </div>
          <div class="col-sm-6">
            <%= f.label "ニックネーム(2~20文字)", class: "form-label" %>
            <%= f.text_field :nickname, class: "form-control", id: "nickname", placeholder: "NickName", maxlength: "20" %>
          </div>

          <div class="col-12">
            <%= f.label "ユーザーID(先頭のみ英語 半角英数字(アンダーバー) 1~20文字)", class: "form-label" %>
            <div class="input-group">
              <span class="input-group-text">@</span>
              <%= f.text_field :userid, class: "form-control", id: "userid", placeholder: "UserID", maxlength: "20" %>
            </div>
          </div>
          <%= f.fields_for :profile do |pf| %>
            <div class="col-sm-12">
              <%= pf.label "自己紹介", class: "form-label" %>
              <%= pf.text_area :intro, autocomplete: "intro", class: "form-control", style: "height:100px", :placeholder => "自己紹介" %>
            </div>
            <hr class="my-4">
            <h3 class="text-center">学校</h3>

            <div class="col-12">
              <%= pf.label "学科", class: "form-label" %>
              <br/>
              <%= pf.select :grade, grade, {}, class: 'form-select', id: "grade", include_blank: "", autocomplete: "grade" %>
            </div>

            <div class="col-sm-6">
              <%= pf.label "クラス 例:2T1→1を入力 (無い場合は0を入力)", class: "form-label" %>
              <%= pf.text_field :school_class, class: "form-control", id: "school_class", placeholder: "クラス", maxlength: "1" %>
            </div>

            <div class="col-sm-6">
              <%= pf.label "出席番号 (無い場合は0を入力)", class: "form-label" %>
              <%= pf.text_field :number, class: "form-control", id: "number", placeholder: "出席番号", maxlength: "2" %>
            </div>
            <div class="col-sm-6">
              <%= pf.label "学籍番号 (無い場合は0000000を入力)", class: "form-label" %>
              <%= pf.text_field :student_id, class: "form-control", id: "student_number", placeholder: "学籍番号", maxlength: "7" %>
            </div>
            <hr class="my-4">
            <h3 class="text-center">SNS</h3>
            <div class="col-sm-12">
              <%= pf.label "Twitter(任意)", class: "form-label" %>
              <div class="input-group">
                <span class="input-group-text">@</span>
                <%= pf.text_field :twitter_id, class: "form-control", id: "userid", placeholder: "Twitter", maxlength: "15" %>
              </div>
            </div>

            <div class="col-sm-12">
              <%= pf.label "Instagram(任意)", class: "form-label" %>
              <div class="input-group">
                <%= pf.text_field :instagram_id, class: "form-control", id: "userid", placeholder: "Instagram", maxlength: "20" %>
              </div>
            </div>
            <h5 class="text-center mb-0">Discord</h5>
            <div class="col-sm-10 my-0">
              <%= pf.label "name(任意)", class: "form-label" %>
              <div class="input-group">
                <%= pf.text_field :discord_name, class: "form-control", id: "userid", placeholder: "discord", maxlength: "30" %>
              </div>
            </div>
            <div class="col-sm-2 my-0">
              <%= pf.label "tag", class: "form-label" %>
              <div class="input-group">
                <span class="input-group-text">#</span>
                <%= pf.text_field :discord_tag, class: "form-control", id: "userid", placeholder: "tag", maxlength: "4" %>
              </div>
            </div>

            <hr class="my-4">
            <h3 class="text-center">タグ</h3>
            <div class="col-sm-12">
              <div class="search-area-colum form-contents">
                <%= f.label "資格 (1つ2~20文字 半角英数字,ひらがな,カタカナ,漢字)", class: "form-label" %>
                <%= f.text_field :accreditation_list, id: "accreditation", value: defined?(@accreditation_list) ? @accreditation_list : @accreditation_tag %>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="search-area-colum form-contents">
                <%= f.label "タグ (1つ2~20文字 半角英数字,ひらがな,カタカナ,漢字)", class: "form-label" %>
                <%= f.text_field :tag_list, id: "tag", value: defined?(@tag_list) ? @tag_list : @tag %>
              </div>
            </div>
          <% end %>
          <%= f.submit "変更", class: "w-100 btn btn-primary btn-lg mb-5" %>
        </div>
      </div>
    </div>
  </div>
<% end %>