<%= stylesheet_link_tag 'profiles', media: 'all', 'data-turbolinks-track': 'reload' %>
<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-dark bg-blue rounded shadow-sm">
    <div class="lh-1">
      <nav class="navbar">
        <%= form_with url: profile_search_path, :method => 'get', class: "container-fluid" do |f| %>
          <p class="me-3">ユーザーを検索</p>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <%= f.text_field :name, class: "form-control", placeholder: "UserID", aria: { label: "Username", describedby: "basic-addon1" } %>
          </div>
        <% end %>
      </nav>
    </div>
  </div>


  <%= render 'profiles/list', name: "友達", list: @friends.first(5), path: profile_friends_path %>
  <%= render 'profiles/list', name: "フォロー", list: @following.first(5), path: profile_follow_path %>
  <%= render 'profiles/list', name: "フォロワー", list: @follower.first(5), path: profile_follower_path %>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">おすすめユーザー</h6>
    <% count = 0 %>
    <% @users.shuffle.each do |user| %>
      <% if user.userid? %>
        <% unless current_user.id == user.id %>
          <% unless following?(@following, user) %>
            <%= render "profiles/user", user: user %>
            <% count += 1 %>
            <% break if count > 5 %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</main>