<%= stylesheet_link_tag 'profiles', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'profiles_show', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>
    .send {
        margin-right: 2px;
        margin-bottom: 2px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }
</style>

<% if current_user != @user && blocked?(current_user, @user) %>
  <%= render "layouts/modal", id: "Modal",
             title: "ブロック", content: "ユーザーのブロックを解除しますか？",
             negative: "いいえ",
             affirmmative_path: profile_block_path(@user.id), affirmmative_method: :delete, affirmative: "はい" %>
<% else %>
  <%= render "layouts/modal", id: "Modal",
             title: "ブロック", content: "ユーザーをブロックしますか？",
             negative: "いいえ",
             affirmmative_path: profile_block_index_path(@user.id), affirmmative_method: :post, affirmative: "はい" %>
<% end %>


<div class="main container">
  <% if @user.discarded? %>
    <h2 class="text-center">退会済みユーザーです。</h2>
  <% else %>
    <div class="row">
      <div class="col-md-12 text-center" style="z-index: 1;">
        <div class="panel panel-default">
          <div class="userprofile position-relative border-bottom mb-3">
            <%= image_tag @user.decorate.header, style: 'max-width:100%; max-height:100%', 'data-lity' => 'data-lity' %>
            <div class="position-absolute h-100 w-100 bottom-0 text-center d-flex align-items-center justify-content-center">
              <%= image_tag @user.decorate.image, class: "userpicimg icon bg-white position-absolute d-none d-sm-block" %>
              <%= image_tag @user.decorate.image, class: "userpicimg icon bg-white position-absolute d-sm-none d-block", style: "max-width:70px" %>
            </div>
          </div>
          <div class="userdata border-bottom">
            <div class="names">
              <span class="username">
                <% if @user.admin %>
                  <i class="fas fa-crown" style="color: yellow; stroke: #82a5c8;stroke-width: 18px;margin-right: 5px"></i>
                  <% end %>
                <%= @user.name %>
                <br/>
              </span>
              <span>@<%= @user.userid %></span>
              <p style="margin-bottom: 0">(<%= @user.nickname %>)
                <% if following?(@user.followings_list, @current) && !matchers?(@user, @current) %>
                  <i class="fas fa-user-plus"></i>
                <% elsif matchers?(@user, @current) %>
                  <i class="fas fa-user-friends"></i>
                <% end %>
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <ul class="nav nav-pills float-start countlist" role="tablist">
              <%= link_to profile_follow_path(@user.userid), class: "text-dark" do %>
                <%= render "profiles/presentation", title: "フォロー", value: @user.followings_list.size %>
              <% end %>
              <%= link_to profile_follower_path(@user.userid), class: "text-dark" do %>
                <%= render "profiles/presentation", title: "フォロワー", value: @user.followers_list.size %>
              <% end %>
              <%= render "profiles/presentation", title: "入学年", value: @profile.enrolled_year if @user.setting.visible_enrolled_year %>
              <%= render "profiles/presentation", title: "学科", value: @profile.grade %>
              <%= render "profiles/presentation", title: "クラス", value: @profile.school_class %>
              <%= render "profiles/presentation", title: "出席番号", value: @profile.number %>
              <%= render "profiles/presentation", title: "クラス", value: @profile.school_class %>
              <%= render "profiles/presentation", title: "学籍番号", value: @profile.student_id if @user.setting.visible_student_id %>
            </ul>

            <% unless blocked?(current_user, @user) || blocked?(@user, current_user) %>
              <div class="actions">
                <% if current_user.id != @user.id %>
                  <% if following?(@following, @user) %>
                    <%= link_to 'フォロー解除', profile_relationship_path(@user.userid), method: :delete, class: "btn btn-primary followbtn", style: "color:#FFF;margin-left:4px;margin-right:22px" %>
                    <%= link_to 'チャット', chat_path(@user.userid), style: "color:#FFF;", class: "btn btn-primary followbtn mx-1" %>
                  <% else %>
                    <%= link_to 'フォロー', profile_relationships_path(@user.userid), method: :post, style: "color:#FFF;", class: "btn btn-primary followbtn" %>
                  <% end %>
                  <button type="button" class="send" data-bs-toggle="modal" data-bs-target="#Modal">
                    <i class="fas fa-ban" style="<%= blocked?(current_user, @user) ? "color: blue" : "color: red" %>;width: 20px;height: 20px"></i>
                  </button>
                <% else %>
                  <%= link_to '編集', edit_profile_path, style: "color:#FFF;", class: "btn btn-primary followbtn" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if blocked?(current_user, @user) %>
      <div class="text-center">
        <h2>ユーザーをブロックしています</h2>
      </div>
    <% else %>
      <% if blocked?(@user, current_user) %>
        <div class="text-center">
          <h3>ユーザーにブロックされています</h3>
        </div>
      <% end %>
      <div class="row d-flex justify-content-around center-block">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading m-3">
              <h3 class="page-header">自己紹介</h3>
              <p class="page-subtitle">
                <%= @profile.intro %>
                <% if @profile.intro.nil? %>
                  未入力です
                <% end %>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading m-3">
              <h3 class="page-header">バッジ</h3>
              <%= render 'profiles/badge' %>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading m-3">
              <h3 class="page-header">取得資格</h3>
              <p class="page-subtitle">
                <% @user.accreditation_list.each do |t| %>
                  <%= link_to search_tag_path(t) do %>
                    <span><%= t %> </span>
                  <% end %>
                <% end %>
                <% if @user.accreditation_list.empty? %>
                  未入力です
                <% end %>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading m-3">
              <h3 class="page-header">タグ、趣味</h3>
              <p class="page-subtitle">
                <% @user.tags.pluck(:name).each do |t| %>
                  <%= link_to search_tag_path(t) do %>
                    <span>#<%= t %></span>
                  <% end %>
                <% end %>
                <% if @user.tags.pluck(:name).empty? %>
                  まだタグを入力していないようです！
                <% end %>
              </p>
            </div>
          </div>
        </div>


        <% unless @profile.twitter_id.nil? || @profile.twitter_id == '' %>
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading m-3">
                <h3 class="page-header" style="color: #1da1f2"><i class="fab fa-twitter" style="margin-right: 3px"></i>Twitter
                </h3>
                <div style="font-size: 18px"><%= link_to "@#{@profile.twitter_id}", "https://twitter.com/#{@profile.twitter_id}" %></div>
              </div>
            </div>
          </div>
        <% end %>

        <% unless @profile.instagram_id.nil? || @profile.instagram_id == '' %>
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading m-3">
                <h3 class="page-header" style="color: #d93078">
                  <i class="fab fa-instagram" style="margin-right: 3px"></i>Instagram
                </h3>
                <div style="font-size: 18px"><%= link_to "#{@profile.instagram_id}", "https://instagram.com/#{@profile.instagram_id}" %></div>
              </div>
            </div>
          </div>
        <% end %>

        <% unless @profile.discord_name.nil? || @profile.discord_name == '' || @profile.discord_tag.nil? || @profile.discord_tag == '' %>
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading m-3">
                <h3 class="page-header" style="color: #535FEE"><i class="fab fa-discord" style="margin-right: 3px"></i>Discord
                </h3>
                <div style="font-size: 18px"><%= "#{@profile.discord_name}##{@profile.discord_tag}" %></div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading m-3">
              <h3 class="page-header">最近の投稿</h3>
              <p class="page-subtitle">
                <% @user.posts.includes(:likes, :comments).order(created_at: :desc).first(10).each do |p| %>
                  <%= render "profiles/post", post: p, report: @report %>
                <% end %>
                <% if @user.posts.empty? %>
                  まだ投稿がありません！
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>