<%= stylesheet_link_tag 'profiles', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'profiles_show', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="main container">
  <div class="row">
    <div class="col-md-12 text-center" style="z-index: 1;">
      <div class="panel panel-default">
        <div class="userprofile social">
          <div class="userdata">
            <div class="userpic">
              <% if @user.image.nil? %>
                <%= image_tag "default_icon", :size => '100x100', class: "userpicimg icon flex-shrink-0 show-icon" %>
              <% else %>
                <%= image_tag "/user_images/#{@user.image}", style: "width: 100px;height:100px;", class: "userpicimg icon bd-placeholder-img flex-shrink-0 show-icon" %>
              <% end %>
            </div>
            <div class="names">
              <h2 class="username"><%= @user.name %></h2>
              <p style="margin-bottom: 0">(<%= @user.nickname %>)
                <% if following?(@user.followings_list, @current) && !matchers?(@user,@current) %>
                  <i class="fas fa-user-plus"></i>
                <% elsif matchers?(@user,@current) %>
                    <i class="fas fa-user-friends"></i>
                <% end %>
              </p>
              <p>@<%= @user.userid %></p>

            </div>
          </div>
        </div>

        <div class="col-md-12 border-top border-bottom">
          <ul class="nav nav-pills float-start countlist" role="tablist">
            <li role="presentation">
              <h3><%= @user.followers_list.size %><br>
                <small>フォロー</small></h3>
            </li>
            <li role="presentation">
              <h3><%= @user.followings_list.size %><br>
                <small>フォロワー</small></h3>
            </li>
            <li role="presentation">
              <h3><%= @profile.grade %><br>
                <small>学科</small></h3>
            </li>
            <li role="presentation">
              <h3><%= @profile.school_class %><br>
                <small>クラス</small></h3>
            </li>
            <li role="presentation">
              <h3><%= @profile.number %><br>
                <small>出席番号</small></h3>
            </li>
            <li role="presentation">
              <h3><%= @profile.student_id %><br>
                <small>学籍番号</small></h3>
            </li>
          </ul>

          <div class="actions">
            <% if current_user.id != @user.id %>
              <% if following?(@following, @user) %>
                  <%= link_to 'フォロー解除', profile_relationship_path(@user.userid), method: :delete, style: "color:#FFF;", class: "btn btn-primary followbtn" %>
              <% else %>
                  <%= link_to 'フォロー', profile_relationships_path(@user.userid), method: :post, style: "color:#FFF;", class: "btn btn-primary followbtn" %>
              <% end %>
            <% else %>
              <%= link_to '編集', edit_profile_path, style: "color:#FFF;", class: "btn btn-primary followbtn" %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /.col-md-12 -->
  <div class="row d-flex justify-content-around center-block">

    <div class="col-md-3 col-sm-12 w-100">
      <div class="panel panel-default">
        <div class="panel-heading m-3">
          <h3 class="page-header">バッジ</h3>
          <%= render 'profiles/badge' %>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12 w-100">
      <div class="panel panel-default">
        <div class="panel-heading m-3">
          <h3 class="page-header">取得資格</h3>
          <p class="page-subtitle">
            <% @user.accreditation_list.each do |t| %>
              <%= link_to search_tag_path(t) do %>
                <span><%= t %> </span>
              <% end %>
            <% end %>

            <% if @user.accreditation_list.empty? %>
              未入力です
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-12 w-100">
      <div class="panel panel-default">
        <div class="panel-heading m-3">
          <h3 class="page-header">タグ、趣味</h3>
          <p class="page-subtitle">
            <% @user.tags.pluck(:name).each do |t| %>
              <%= link_to search_tag_path(t) do %>
                <span>#<%= t %></span>
              <% end %>
            <% end %>

            <% if @user.tags.pluck(:name).empty? %>
              まだタグを入力していないようです！
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>