<h1><%= @user.userid %></h1>
<%= @user.email %>
<% if @user.follow_request?(current_user, @user) %>
  <div class="form-group">
    <div class="schedule-item">
      <div class="schedule-item-header text-left">
        <p class="bold"><%= @user.userid %>からフレンド申請を受け取っています</p>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.matchers?(@user) %>
  <div class="form-group">
    <div class="schedule-item">
      <div class="schedule-item-header text-left">
        <p class="bold"><%= @user.userid %> は友達です。</p>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.id == @user.id %>

<% else %>
  <% unless current_user.following?(@user) %>
    <div class="actions">
      <%= link_to '友達申請をする', profile_relationships_path(@user.userid), method: :post, class:"sign-up-btn" %>
    </div>
  <% else %>
    <div class="actions">
      <%= link_to '友達申請を取り消す', profile_relationship_path(@user.userid), method: :delete, class:"sign-up-btn" %>
    </div>
  <% end %>
<% end %>