<%= stylesheet_link_tag 'profiles', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'profiles_show', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" style="z-index: 1;">
      <div class="panel panel-default">
        <div class="userprofile social">
          <div class="userdata">
            <div class="userpic">
              <% if @user.image.nil? %>
                <%= image_tag "default_icon" , :size => '100x100', class: "userpicimg icon flex-shrink-0 show-icon"%>
              <% else %>
                <%= image_tag "/user_images/#{@user.image}",style: "width: 100px;height:100px;",class:"userpicimg icon bd-placeholder-img flex-shrink-0 show-icon"%>
              <% end %>
            </div>
            <div class="names">
              <h2 class="username"><%= @user.name %></h2>
              <p style="margin-bottom: 0">(<%= @user.nickname %>)</p>
              <p>@<%=@user.userid%></p>
            </div>
          </div>
        </div>
        <div class="col-md-12 border-top border-bottom">
          <ul class="nav nav-pills pull-left countlist" role="tablist">
            <li role="presentation">
              <h3><%= @user.followings_list.count %><br>
                <small>Followers</small> </h3>
            </li>
            <li role="presentation">
              <h3><%= @user.followers_list.count %><br>
                <small>Follow</small> </h3>
            </li>
            <li role="presentation">
              <h3><%= @profile.grade %><br>
                <small>学科</small> </h3>
            </li>
            <li role="presentation">
              <h3><%= @profile.school_class %><br>
                <small>クラス</small> </h3>
            </li>
            <li role="presentation">
              <h3><%= @profile.number %><br>
                <small>出席番号</small> </h3>
            </li>
            <li role="presentation">
              <h3><%= @profile.student_id %><br>
                <small>学籍番号</small> </h3>
            </li>
          </ul>
          <% if current_user.id != @user.id %>
            <div class="actions ">
              <%= link_to 'チャット',
                          chat_path(@user.userid),
                          style: "color:#FFF;",
                          class:"btn btn-primary followbtn"
              %>
            </div>
            <% unless current_user.following?(@user) %>
              <div class="actions ">
                <%= link_to 'フォロー',
                            profile_relationships_path(@user.userid),
                            method: :post,
                            style: "color:#FFF;",
                            class:"btn btn-primary followbtn"
                %>
              </div>
            <% else %>
              <div class="actions">
                <%= link_to 'フォロー解除',
                            profile_relationship_path(@user.userid),
                            method: :delete,
                            style: "color:#FFF;",
                            class:"btn btn-primary followbtn"
                %>
              </div>
            <% end %>
          <% end %>
           <% if current_user.id == @user.id %>
              <div class="actions">
                <%= link_to '編集',
                            edit_profile_path,
                            style: "color:#FFF;",
                            class:"btn btn-primary followbtn" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <!-- /.col-md-12 -->
  <div class="row d-flex justify-content-around center-block">
    <div class="col-md-3 col-sm-12 w-100">
      <div class="panel panel-default">
        <div class="panel-heading m-3">
          <h3 class="page-header">バッジ</h3>
          <div class="amica-badge register-badge">
            <span class="at-badge"><i class="fas fa-smile-wink"></i></span>
            <div class="register-badge-description"><%= @user.created_at.strftime('%Y/%m/%d') %> Amicaに登録した記念バッジ</div>
          </div>
          <% if @user.admin %>
            <div class="amica-badge admin-badge">
              <span class="at-badge"><i class="fas fa-crown"></i></span>
              <div class="admin-badge-description">Amica運営バッジ</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12 w-100">
      <div class="panel panel-default">
        <div class="panel-heading m-3">
          <h3 class="page-header">取得資格</h3>
          <p class="page-subtitle">
            <% @user.accreditation_list.each do |t| %>
              <%= link_to search_tag_path(t) do %>
                <span><%= t %> </span>
              <% end %>
            <% end %>

            <% if @user.accreditation_list.empty? %>
              未入力です
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-sm-12 w-100">
      <div class="panel panel-default">
        <div class="panel-heading m-3">
          <h3 class="page-header">タグ、趣味</h3>
          <p class="page-subtitle">
            <% @user.tag_list.each do |t| %>
              <%= link_to search_tag_path(t) do %>
                <span>#<%= t %></span>
              <% end %>
            <% end %>

            <% if @user.tag_list.empty? %>
              まだタグを入力していないようです！
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>