<h1>運営からのお知らせ</h1>
<%if current_user.admin==true %>
  <%= link_to new_operation_message_path class: "icons nav-link" do %>
    <i class="fas fa-exclamation-circle"></i>新規作成
  <% end %>

<%end %>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%=post.title %></td>
    <td><%=post.content %></td>
    <td><%=post.created_at %></td>
    <td><%= link_to "編集", edit_operation_message_path(id:post) %></td>
    <td><%= link_to "削除", operation_message_path(id:post),method: :delete %></td>
  </tr>
<%end %>
</table>