<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <%= link_to notifications_path, "aria-current": "page", class: "nav-link" do %>
      通知
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">

        </span>
    <% end %>
    <%= link_to operation_messages_path, "aria-current": "page", class: "nav-link" do %>
      運営からのお知らせ
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">
          0
        </span>
    <% end %>
  </nav>
</div>
<h1>運営からのお知らせ</h1>
<%if current_user.admin==true %>管理者用
  <%= link_to new_operation_message_path class: "icons nav-link" do %>新規作成<br>
  <% end %>
<%end %>
    <table class="mt-1 w-100">
  <% @posts.reverse_each do |post| %>
        <th class="border border-dark">
    <%=post.title %><br>
    <%=I18n.l post.created_at %>
      </th>
        <tr>
        <td class="border border-dark">
          <div class="bg-light"><%=post.content%></div>
        </td>
        </tr>
        <tr>
          <td>
            <%if current_user.admin==true %>
              管理者用<%= link_to "編集", edit_operation_message_path(id:post)%>
    <%= link_to "削除", operation_message_path(id:post),method: :delete%>
            <% end %>
          </td>
        </tr>
<%end %>
    </table>
  </div>
</div>
