<%if current_user.admin==true %>
  <%= form_with model: @operationmessage, local: true do |form| %>

    <p><%= form.label :title %><br>
      <%= form.text_field :title %> #titleの入力フォーム生成
    </p>

    <p><%= form.label :body %><br>
      <%= form.text_area :body %> #bodyの入力フォーム生成
    </p>
       <%=form.label :time %><br>
      <%=form.datetime_field :time %>
    <p><%= form.submit %> #送信ボタンを生成
    </p>

  <% end %>
<%end %>
<div class="container">
  <div class="row justify-content-md-center border border-dark">
    <div class="col col-lg-2">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
    <div class="col">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
</div>