<%= stylesheet_link_tag 'registrations', media: 'all', 'data-turbolinks-track': 'reload' %>
<h2 class="mb-4">アカウント情報変更</h2>

<div id="contact_form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <hr class="my-4">
    <h3 class="mb-4">パスワード変更</h3>
    <div class="field mb-4">
      <%= f.label "新しいパスワード" %> <i><br/>(8~24文字 半角英数字(大文字小文字)、記号 [$!@_%^*&()] が使用できます)</i><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password" ,maxlength:"24"%>
    </div>

    <div class="field mb-4">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password",maxlength:"24" %>
    </div>

    <div class="field mb-4">
      <%= f.label :current_password %> <br />
      <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password",maxlength:"24" %>
    </div>

    <div class="actions" style="margin-bottom: 100px">
      <%= f.submit "変更" , class:"w-25 btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <hr class="my-4">

  <h3>アカウント削除</h3>

  <button type="button" class="w-25 btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">削除</button>
</div>

<%= render 'layouts/modal', id: "Modal",
           title: "アカウント削除", content: "本当に削除しますか？(注意: 同じメールアドレスでは再登録が出来ません。 タイムラインの投稿などは自動削除されません。)",
           negative: "いいえ",
           affirmmative_path: registration_path(resource_name), affirmmative_method: :delete, affirmative: "はい" %>