<style>
    .send {
        margin-right: 2px;
        margin-bottom: 2px;
        color: #0d6efd;
        border: none;
    }
</style>
<%= render "comments/report_modal" , comment:comment %>

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="d-flex text-muted">
    <%= link_to profile_path(comment.user.userid), style: "color:black" do %>
      <%= image_tag comment.user.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
    <% end %>
    <p class="pb-3 mb-0 lh-sm w-100">
      <strong class="text-dark" style="font-size:20px;margin: 0"><%= comment.user.nickname %></strong>
      <span class="text-gray small" style="margin: 0">@<%= comment.user.userid %></span>
      <span class="text-gray small"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(comment.created_at) %></span>
      <br/>
      <br/>
      <span class="spans text-dark" style="font-size:18px; margin: 0;"><%= comment.comment %></span>
    </p>
  </div>
  <div class="text-end">
    <% if comment.user == current_user %>
      <%= button_to timeline_comment_path(comment.post.id, comment.id),class: "send bg-white", method: :delete, data: { disable_with: "削除中..." } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% else %>
      <span class="ms-2">
        <label>
          <button type="button" class="btn btn-primary" style="display: none" data-bs-toggle="modal" data-bs-target="#exampleModal2<%= comment.id %>" data-bs-whatever=<%= comment.id %>></button>
          <i class="fas fa-bullhorn" style="color: red"></i>
        </label>
      </span>
    <% end %>
  </div>
</div>
