<div class="modal fade" id="exampleModal2<%= comment.id %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= comment.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">通報</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_for(@report, url: timeline_reports_path(comment.id)) do |f| %>
          <%= f.hidden_field :user_id, id: "user_id ", class: "form-control", value: current_user.id %>
          <%= f.hidden_field :comment_id, id: "comment_id", class: "form-control", value: comment.id %>
          <%= f.hidden_field :reported_user_id, id: "reported_user_id ", class: "form-control", value: comment.user.id %>
          <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="d-flex text-muted">
              <%= image_tag comment.post.user.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
              <p class="pb-3 mb-0 lh-sm w-100">
                <strong class="text-dark" style="font-size:20px;margin: 0"><%= comment.post.user.nickname %></strong>
                <span class="text-gray small" style="margin: 0">@<%= comment.post.user.userid %></span>
                <span class="text-gray small"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(comment.created_at) %></span>
                <br/>
                <br/>
                <span class="spans text-dark" style="font-size:18px; margin: 0;"><%= comment.comment %></span>
              </p>
            </div>
          </div>
          <%= f.text_area :message, placeholder: "通報内容を記載してください。", id: "message", class: "form-control", required: true %><br>
          <div class="modal-footer">
            <%= f.submit "送信", class: "btn btn-lg btn-danger fw-bold border-white", style: "margin-right: 10px; width: 150px;color:#FFF" %>
            <%= f.submit "クリア", type: :reset, class: "btn btn-lg btn-secondary fw-bold border-white", style: "margin-right: 10px; width: 150px;color:#FFF" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="d-flex text-muted">
    <%= link_to profile_path(comment.user), style: "color:black" do %>
        <%= image_tag comment.user.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
    <% end %>
<
    <p class="pb-3 mb-0 lh-sm w-100">
      <strong class="text-dark" style="font-size:20px;margin: 0"><%= comment.user.nickname %></strong>
      <span class="text-gray small" style="margin: 0">@<%= comment.user.userid %></span>
      <span class="text-gray small"><i class="far fa-clock clock-icon"></i><%= time_ago_in_words(comment.created_at) %></span>
      <br/>
      <br/>
      <span class="spans text-dark" style="font-size:18px; margin: 0;"><%= comment.comment %></span>
    </p>
  </div>
  <div class="text-end">
    <% if comment.user == current_user %>
      <%= link_to timeline_comment_path(comment.post.id, comment.id), method: :delete, remote: true do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>
    <span class="ms-2">
      <label>
        <button type="button" class="btn btn-primary" style="display: none" data-bs-toggle="modal" data-bs-target="#exampleModal2<%= comment.id %>" data-bs-whatever=<%= comment.id %>></button>
        <i class="fas fa-bullhorn" style="color: red"></i>
      </label>
    </span>
  </div>
</div>
