 <% visitor = notification.visitor %>
 <% visited = notification.visited %>
  <div class="col-md-6 mx-auto">
  <div class="form-inline">

   <%= link_to profile_path(visitor.userid) do %>
<%= image_tag @user.decorate.image , class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
  <strong style="color:greenyellow">
   <%= visitor.name %>
   <%= 'さんが' %>
  </strong>

   <% case notification.action %>
   <% when 'follow' then %>
   <%= "あなたをフォローしました" %>
   <% when 'like' then %>
            <%= "あなたの投稿id:#{notification.post_id}" %>
   <%= "にいいねしました" %>
        <hr>
   <% when 'comment' then %>
   <% if notification.id == visited.id %>
                          <%= "あなたの投稿id:#{notification.post_id}" %>
   <% else %>
      <span>
       <%= link_to timelines_path(notification.post_id) do %>
<%= image_tag @user.decorate.image , class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
          </span>
      <strong>
       <%= 'さんの投稿' %>
       <%= "にコメントしました" %>
      </strong>

          <P class="text-muted mb-0">
       <%= Comment.find_by(id: notification.comment_id)&.comment %>
      </p>
      <div class="small text-muted text-right">
       <%= time_ago_in_words(notification.created_at).upcase %>
        <hr>
      </div>
      <%end %>
    <%end %>
          <% end %>
        <%end %>
      </div>
 </div>