<h2 class="animonItem" data-effect="scaleDown">クレジット</h2>
<div class="medium">
  <h3 class="animonItem" data-effect="scaleDown" data-delay="200">Avails 2T1 グループ１</h3>
  <div class="members">
    <span class="animonItem" data-effect="fadeInRight" data-delay="<%= rand(300..1500) %>">05 薄井大樹</span>
    <span class="animonItem" data-effect="fadeInRight" data-delay="<%= rand(300..1500) %>">06 宇津宮一歩</span>
    <span class="animonItem" data-effect="fadeInRight" data-delay="<%= rand(300..1500) %>">08 遠藤桂樹</span><br>
    <span class="animonItem" data-effect="fadeInRight" data-delay="<%= rand(300..1500) %>">17 久保聖人</span>
    <span class="animonItem" data-effect="fadeInRight" data-delay="<%= rand(300..1500) %>">29 須山龍</span>
    <span class="animonItem" data-effect="fadeInRight" data-delay="<%= rand(300..1500) %>">38 友杉颯太</span>
  </div>
</div>