<!DOCTYPE html>
<html lang="ja">
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>Amica</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag('amica.ico') %>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'home/index' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'home/settings' %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
  <meta name=”description” content=”ISC学生向けの友達作りサイトです。”/>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FEWKYWJMZD"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-FEWKYWJMZD');
  </script>
</head>

<!--
 .----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| |      __      | || | ____   ____  | || |      __      | || |     _____    | || |   _____      | || |    _______   | |
| |     /  \     | || ||_  _| |_  _| | || |     /  \     | || |    |_   _|   | || |  |_   _|     | || |   /  ___  |  | |
| |    / /\ \    | || |  \ \   / /   | || |    / /\ \    | || |      | |     | || |    | |       | || |  |  (__ \_|  | |
| |   / ____ \   | || |   \ \ / /    | || |   / ____ \   | || |      | |     | || |    | |   _   | || |   '.___`-.   | |
| | _/ /    \ \_ | || |    \ ' /     | || | _/ /    \ \_ | || |     _| |_    | || |   _| |__/ |  | || |  |`\____) |  | |
| ||____|  |____|| || |     \_/      | || ||____|  |____|| || |    |_____|   | || |  |________|  | || |  |_______.'  | |
| |              | || |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------'
 .----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| |              | || |      __      | || | ____    ____ | || |     _____    | || |     ______   | || |      __      | |
| |              | || |     /  \     | || ||_   \  /   _|| || |    |_   _|   | || |   .' ___  |  | || |     /  \     | |
| |    ______    | || |    / /\ \    | || |  |   \/   |  | || |      | |     | || |  / .'   \_|  | || |    / /\ \    | |
| |   |______|   | || |   / ____ \   | || |  | |\  /| |  | || |      | |     | || |  | |         | || |   / ____ \   | |
| |              | || | _/ /    \ \_ | || | _| |_\/_| |_ | || |     _| |_    | || |  \ `.___.'\  | || | _/ /    \ \_ | |
| |              | || ||____|  |____|| || ||_____||_____|| || |    |_____|   | || |   `._____.'  | || ||____|  |____|| |
| |              | || |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------'
-->

<body class="d-flex flex-column h-100 text-center text-dark">
<header class="full mb-auto">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light px-4">
    <%= link_to("Amica", "/", class: "mb-0 lh-sm text-light", style: "margin-left:7px;font-size:24px;text-decoration: none;font-weight:bold") %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown">
      <div class="navbar-nav me-auto m-0 mb-lg-0"></div>
      <ul class="navbar-nav d-flex">
        <li class="nav-item active">
          <a class="nav-link" href="<%= about_path %>">概要</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= contact_path %>">お問い合わせ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_registration_path %>">サインイン</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">ログイン</a>
        </li>
      </ul>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="notice"><%= alert %></p>
  <div class="position-absolute h-75 w-100 m-0 d-flex align-items-center justify-content-center">
    <%= image_tag("top_icon.png", class: "icon", id: "title-image") %>
  </div>
  <a class="goSection" href="#about">
    <div class="position-absolute bottom-0 w-100 d-flex align-items-center justify-content-center" style="margin-bottom: 60px">
      <span id="step" class="fw-bold" style="color: #343434;display: none">もっと見る</span>
    </div>
    <div class="position-absolute bottom-0 w-100 d-flex align-items-center justify-content-center" style="margin-bottom: 40px">
      <div id="arrow" class="arrow1" style="display: none"></div>
    </div>
  </a>
</header>

<main>
  <div id="background"></div>
  <div class="container text-center" id="about">
    <div class="my-5 fs-5 shadow-sm animonItem" data-effect="scaleDown">
      <div class="px-3">
        <h2 class="animonItem mb-5" data-effect="scaleDown">Amicaとは？</h2>
        <p class="animonItem mb-3" data-effect="fadeInRight" data-delay="200">Amicaはあなたの学校生活に<u>新たな出会いをプラス</u>する<u>コミュニケーションツール</u>です
        </p>
        <p class="animonItem mb-3" data-effect="fadeInRight" data-delay="300">このアプリケーションはISC専用の友達出会い系アプリです。</p>
        <p class="animonItem mb-3" data-effect="fadeInRight" data-delay="400">あなたの趣味や特技、知りたいこと、興味あることなどをタグとして入力し、タグを参照して自動的におすすめな友達を紹介してくれます。</p>
        <p class="animonItem mb-3 pb-3" data-effect="fadeInRight" data-delay="500">さらに、気になっていた人の趣味や特技なども可視化されたり、呼んでほしいニックネームなども登録する等の機能を用意していますので会話につながる工夫もできています。</p>
      </div>
    </div>

    <div class="my-5 fs-5 shadow-sm animonItem" data-effect="scaleDown">
      <div class="px-3">
        <h2 class="animonItem my-5" data-effect="scaleDown">どんな事ができるの？</h2>
        <p class="animonItem mb-3" data-effect="fadeInRight" data-delay="200">Amicaでは新しい人脈が築けるような様々な機能が用意してあります。</p>
        <ul class="mb-3" style="list-style: none">
          <li class="animonItem" data-effect="fadeInRight" data-delay="300">・チャット機能</li>
          <li class="animonItem" data-effect="fadeInRight" data-delay="350">・コミュニティ(公開グループチャット)機能</li>
          <li class="animonItem" data-effect="fadeInRight" data-delay="400">・タイムライン機能</li>
          <li class="animonItem" data-effect="fadeInRight" data-delay="450">・おすすめユーザー機能</li>
          <li class="animonItem mb-3" data-effect="fadeInRight" data-delay="500">・自動マッチング機能　等</li>
        </ul>
        <p class="animonItem my-3" data-effect="fadeInRight" data-delay="600">さらに学園内ならではの機能もあります。</p>
        <ul style="list-style: none">
          <li class="animonItem" data-effect="fadeInRight" data-delay="650">・ランキング機能</li>
          <li class="animonItem mb-3 pb-3" data-effect="fadeInRight" data-delay="700">・バッジ機能　等</li>
        </ul>
      </div>
    </div>
    <div class="my-5 fs-5 shadow-sm mb-3 animonItem" data-effect="scaleDown">
      <div class="px-3">
        <h2 class="animonItem my-5" data-effect="scaleDown">さっそく始めてみましょう</h2>
        <p class="animonItem mb-3" data-effect="fadeInRight" data-delay="200">Amicaは学校のメールアドレスを認証するので、たくさんの個人情報を入力する本人確認が不要です。</p>
        <%= link_to "会員登録", new_user_registration_path, class: "animonItem btn btn-primary mb-3", data: { effect: "fadeInRight", delay: "200" } %>
      </div>
    </div>
  </div>
</main>

<footer class="text-center bg-gray text-light" style="margin-top:100px">
  <div class="container">
    <span class="text-muted">
      ©2021 - <%= DateTime.now.strftime('%Y') %> <%= link_to("Avails Group", avails_path, class: "text-dark") %>
      <%= link_to("利用規約", static_path, class: "text-dark") %>
      <%= link_to("プライバシーポリシー", privacy_path, class: "text-dark") %>
    </span>
  </div>
</footer>
</body>
</html>