<%= stylesheet_pack_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<%= javascript_pack_tag 'home/index' %>


<!--
 .----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| |      __      | || | ____   ____  | || |      __      | || |     _____    | || |   _____      | || |    _______   | |
| |     /  \     | || ||_  _| |_  _| | || |     /  \     | || |    |_   _|   | || |  |_   _|     | || |   /  ___  |  | |
| |    / /\ \    | || |  \ \   / /   | || |    / /\ \    | || |      | |     | || |    | |       | || |  |  (__ \_|  | |
| |   / ____ \   | || |   \ \ / /    | || |   / ____ \   | || |      | |     | || |    | |   _   | || |   '.___`-.   | |
| | _/ /    \ \_ | || |    \ ' /     | || | _/ /    \ \_ | || |     _| |_    | || |   _| |__/ |  | || |  |`\____) |  | |
| ||____|  |____|| || |     \_/      | || ||____|  |____|| || |    |_____|   | || |  |________|  | || |  |_______.'  | |
| |              | || |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------'
 .----------------.  .----------------.  .----------------.  .----------------.  .----------------.  .----------------.
| .--------------. || .--------------. || .--------------. || .--------------. || .--------------. || .--------------. |
| |              | || |      __      | || | ____    ____ | || |     _____    | || |     ______   | || |      __      | |
| |              | || |     /  \     | || ||_   \  /   _|| || |    |_   _|   | || |   .' ___  |  | || |     /  \     | |
| |    ______    | || |    / /\ \    | || |  |   \/   |  | || |      | |     | || |  / .'   \_|  | || |    / /\ \    | |
| |   |______|   | || |   / ____ \   | || |  | |\  /| |  | || |      | |     | || |  | |         | || |   / ____ \   | |
| |              | || | _/ /    \ \_ | || | _| |_\/_| |_ | || |     _| |_    | || |  \ `.___.'\  | || | _/ /    \ \_ | |
| |              | || ||____|  |____|| || ||_____||_____|| || |    |_____|   | || |   `._____.'  | || ||____|  |____|| |
| |              | || |              | || |              | || |              | || |              | || |              | |
| '--------------' || '--------------' || '--------------' || '--------------' || '--------------' || '--------------' |
 '----------------'  '----------------'  '----------------'  '----------------'  '----------------'  '----------------'
-->

<%= image_tag("top_icon.png",class: "icon title-image",style: "margin-bottom: 30px;display:none")%>
<div class="title-text" style="margin-bottom: 30px;opacity:0">
  <p>Amicaはあなたの生活に<u>新たな出会いをプラス</u>する</p>
  <p><u>コミュニケーションツール</u>です</p>
</div>

<p class="lead buttons" style="opacity:0">
  <%= link_to "新規登録",
              new_user_registration_path,
              class: "btn btn-lg btn-secondary fw-bold border-white bg-blue",
              style: "margin-right: 10px; width: 150px;color:#FFF"
  %>
  <%= link_to "ログイン",
              new_user_session_path,
              class: "btn btn-lg btn-secondary fw-bold border-white bg-blue",
              style: "width: 150px;color:#FFF"
  %>
</p>



