<%= link_to profile_path(user.userid), style: "text-decoration: none;" do %>
  <div class="my-3 p-2 bg-white rounded shadow-sm">
    <p class="mb-0"><%= (30 * (page.to_i - 1)) + user_counter + 1 %>位</p>
    <div class="d-flex justify-content-between">
      <div class="d-flex text-muted pt-3 justify-content-between">
        <%= image_tag user.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
        <p class="pb-3 mb-0 small lh-sm  w-100">
          <strong class="d-block text-gray-dark"><%= user.name %> (<%= user.nickname %>)</strong>
          @<%= user.userid %>
        </p>
      </div>
      <p><%= rank_count(user, nil, title) %></p>
    </div>
  </div>
<% end %>