<%# views/messages/_chat_message.html.erb %>

  <% if message.user_id === current_user.id %>
    <div class="row message-body">
      <div class="col-sm-12 message-main-sender" >
        <div class="sender my-1 p-1 mt-2" style="max-width: 40%;">
          <div class="messages container p-1">
           <% start = message.content.index("http")%>
            <div>
              <% if start != nil %>
                <% messages = message.content %>
                <% while start != nil do%>
                  <% ends = messages.index(/\r\n|\r|\n|\s|　|\t/,start) %>
                  <% url = messages[start.to_i..ends.to_i - 1] %>
                  <% if start == 0 %>
                    <% messages = messages.sub("#{url}","") %>
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                    <% start = messages.index("http")%>
                    <% if start == nil %>
                      <%= safe_join(messages.split("\n"),tag(:br))%>
                    <% end %>
                  <% else %>
                    <% first = messages[0..start.to_i-1] %>
                    <% messages = messages.sub("#{first}", "").sub("#{url}", "") %>
                    <%= safe_join(first.split("\n"),tag(:br)) %><br>
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                    <% start = messages.index("http")%>
                    <% if start == nil %>
                      <%= safe_join(messages.split("\n"),tag(:br))%>
                    <% end %>
                   <% end %>
                <% end %>
            <% else %>
            <%=safe_join(message.content.split("\n"),tag(:br))%>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if message.created_at.to_date === Date.today %>
        <span class="text-gray small" style="text-align: right"><%= message.created_at.strftime("今日 %H:%M") %></span>
      <% else %>
        <span class="text-gray small" style="text-align: right"><%= message.created_at.strftime("%H:%M") %></span>
      <% end %>
    </div>
  <% else %>
  <%= link_to profile_path(@user.userid),class:"userLink"  do %>
  <%= image_tag @user.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 mt-2 ", width: "40px", height: "40px" %>
  <% end %>
    <div class="row message-body">
      <div class="col-sm-12 message-main-receiver" style=" position:relative;">
        <div class="receiver my-1 p-1 mt-2" style="max-width: 40%;" >
          <div class="messages container p-1">
            <% start = message.content.index("http")%>
            <div>
              <% if start != nil %>
                <% messages = message.content %>
                <% while start != nil do%>
                  <% ends = messages.index(/\r\n|\r|\n|\s|\t/,start) %>
                  <% url = messages[start.to_i..ends.to_i - 1] %>
                  <% if start == 0 %>
                    <% messages = messages.sub("#{url}","") %>
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                    <% start = messages.index("http")%>
                    <% if start == nil %>
                      <%= safe_join(messages.split("\n"),tag(:br))%>
                    <% end %>
                  <% else %>
                    <% first = messages[0..start.to_i-1] %>
                    <% messages = messages.sub("#{first}", "").sub("#{url}", "") %>
                    <%= safe_join(first.split("\n"),tag(:br)) %><br>
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                    <% start = messages.index("http")%>
                    <% if start == nil %>
                      <%= safe_join(messages.split("\n"),tag(:br))%>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <%=safe_join(message.content.split("\n"),tag(:br))%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="text-gray small" style="float: left">
          <p class="time">
          <% if message.created_at.to_date === Date.today %>
            <%= message.created_at.strftime("今日 %H:%M") %>
          <% else %>
            <%= message.created_at.strftime("%H:%M") %>
          <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>