<%# views/messages/_chat_message.html.erb %>

  <% if message.user_id === current_user.id %>
    <div class="row message-body">
      <div class="col-sm-12 message-main-sender"  style=" position:relative; " >
        <div class="sender my-1 p-1 mt-2" style="max-width: 40%;">
          <div class="messages container p-1">
            <% if message.image != nil %>
                <%= image_tag message.decorate.images ,style:"max-width:100%" %>
            <% else %>
           <% start = message.content.index("http")%>
            <div>
              <% if start != nil %>
                <% messages = message.content %>
                <% while start != nil do%>
                  <% ends = messages.index(/\r\n|\r|\n|\s|　|\t/,start) %>
                  <% url = messages[start.to_i..ends.to_i - 1] %>
                  <% if start == 0 %>
                    <% messages = messages.sub("#{url}","") %>
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                    <% start = messages.index("http")%>
                    <% if start == nil %>
                      <%= safe_join(messages.split("\n"),tag(:br))%>
                    <% end %>
                  <% else %>
                    <% first = messages[0..start.to_i-1] %>
                    <% messages = messages.sub("#{first}", "").sub("#{url}", "") %>
                    <%= safe_join(first.split("\n"),tag(:br)) %><br>
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                    <% start = messages.index("http")%>
                    <% if start == nil %>
                      <%= safe_join(messages.split("\n"),tag(:br))%>
                    <% end %>
                   <% end %>
                <% end %>
            <% else %>
            <%=safe_join(message.content.split("\n"),tag(:br))%>
            <% end %>
            </div>
            <% end %>
          </div>
        </div>
          <div class="text-gray small sender_time">
            <%= message.decorate.time %>
          </div>
      </div>
    </div>
  <% else %>
     <div class="row message-body">
      <div class="col-sm-12 message-main-receiver" style=" position:relative;">
        <%= link_to profile_path(@user.userid),class:"userLink"  do %>
          <%= image_tag @user.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 mt-2 ",style: "float: left;", width: "40px", height: "40px" %>
        <% end %>
          <div class="receiver my-1 p-1 mt-2" style="max-width: 40%;" >
          <div class="messages container p-1">
            <% if message.image != nil %>
              <%= image_tag message.decorate.images ,style:"max-width:100%" %>
            <% else %>
            <% start = message.content.index("http")%>
            <div>
              <% if start != nil %>
                <% messages = message.content %>
                <% while start != nil do%>
                  <% ends = messages.index(/\r\n|\r|\n|\s|\t/,start) %>
                  <% url = messages[start.to_i..ends.to_i - 1] %>
                  <% if start == 0 %>
                    <% messages = messages.sub("#{url}","") %>
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                    <% start = messages.index("http")%>
                    <% if start == nil %>
                      <%= safe_join(messages.split("\n"),tag(:br))%>
                    <% end %>
                    <% if message.image != nil %>>
                      <%= image_tag message.decorate.images, style: "float: left;", width: "25%", height: "25%"%>
                    <% end %>
                  <% else %>
                    <% first = messages[0..start.to_i-1] %>
                    <% messages = messages.sub("#{first}", "").sub("#{url}", "") %>
                    <%= safe_join(first.split("\n"),tag(:br)) %><br>
                    <a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a>
                    <% start = messages.index("http")%>
                    <% if start == nil %>
                      <%= safe_join(messages.split("\n"),tag(:br))%>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <%=safe_join(message.content.split("\n"),tag(:br))%>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <div class="text-gray small" style="float: left">
          <p class="time">
            <%= message.decorate.time %>
          </p>
        </div>
      </div>
    </div>
  <% end %>