<%= stylesheet_pack_tag 'chats', media: 'all', 'data-turbolinks-track': 'reload' %>
<h4 class="chat_heading">Chat</h4>
<div class="m-3">
<% num = 0
   while num < @room_partner.size do %>
      <div class="container">
          <%= link_to chat_path(@room_partner[num].userid) ,style:" text-decoration:none;" do %>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
              <div class="d-flex pt-3">
                <%= image_tag @room_partner[num].decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
                <p class="pb-3 mb-0  border-bottom w-100">
                  <strong class="d-block" style="color: black"><%= @room_partner[num].name %> (<%= @room_partner[num].nickname %>)</strong>
                  <% if @latest_message[num] === '' %>
                    <span class="medium lh-sm" style="float: right;color: black">※このユーザーとはまだ会話したことがないようです！会話してみましょう！※</span>
                    <span class="clear"></span>
                  <% elsif @latest_message[num] === nil %>
                    <span class="medium lh-sm" style="float: right;color: black">※このユーザーがあなたと会話したいようです！会話してみましょう！※</span>
                    <span class="clear"></span>
                  <% else %>
                    <span class="text-muted medium lh-sm"> <%= @latest_message[num].content.delete("\n").slice(0..50) %></span>
                    <% if @latest_message[num].created_at.to_date === Date.today %>
                      <span class="small" style="float: right;color:gray;"><%= @latest_message[num].created_at.strftime("今日 %H:%M") %></span>
                    <% else %>
                      <span class="small" style="float: right;color:gray;"><%= @latest_message[num].created_at.strftime("%m月%d日") %></span>
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
      </div>
   <% num = num + 1 %>
<% end %>
</div>


