<%= stylesheet_link_tag 'chats', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="text-center w-100">
  <h4 class="chat_heading">Chat</h4>
</div>
<div class="m-3">
  <% @room_partner.each_with_index do |r, i| %>
    <div class="container">
      <%= link_to chat_path(r.userid), style: " text-decoration:none;" do %>
        <div class="my-3 p-1 px-3 bg-white rounded shadow-sm">
          <div class="d-flex pt-3">
            <%= image_tag r.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
            <p class="pb-3 mb-0 w-100">
              <strong class="d-block" style="color: black"><%= r.decorate.name %> (<%= r.decorate.nickname %>)</strong>
              <% if @latest_message[i] == '' || @latest_message[i] == [] %>
                <span class="medium lh-sm" style="float: right;color: black"><%= index_message(@latest_message[i]) %></span>
                <span class="clear"></span>
              <% else %>
                <span class="text-muted medium lh-sm"> <%= @latest_message[i].decorate.type %></span>
                <span class="small" style="float: right;color:gray;"><%= index_date_format(@latest_message[i]) %></span>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "layouts/pagenate", pagenate: @chat %>
