

<h1>Chat room</h1>
<p>room_number:<%= @room_id %></p>
<div id="messages"></div>
<% @message.each do |p| %>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
      <%= render 'chats/chat_message',message:p %>
  </div>
<% end %>


<%= label_tag :content, 'Say something:' %>
<input type="hidden" id="room_id" value= <%= @room_id %> data-behavior="chat_speaker">
<%= text_field_tag :content, nil,data: {behavior: "chat_speaker"} %>

