<% mates.each do |user| %>
  <div class="collapse show mb-1" id="collapseExample1">
    <div class="p-1 bg-white rounded shadow-sm" style="padding-left: 10px;padding-right: 10px">
        <%= link_to profile_path(user.userid) do %>
        <div class="d-flex justify-content-between">
          <div class="d-flex text-muted pt-3">
            <% if user.image.nil? %>
              <%= image_tag "/user_images/default_icon.png", class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded",width: "40px",height: "40px" %>
            <% else %>
              <%= image_tag "/user_images/#{user.image}.png" , class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded",width: "40px",height: "40px"%>
            <% end %>
            <p class="pb-3 mb-0 small lh-sm w-100">
              <strong class="d-block text-gray-dark"><%= user.name %> (<%= user.nickname %>)</strong>
              @<%= user.userid %>
            </p>
          </div>
          <div style="padding-top: 19px">
            <% if current_user.is_favorite?(current_user,user) %>
              <%= link_to page_favorite_path(user.id,current_user.id), method: :delete do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% else %>
              <%= link_to  page_favorite_index_path(user.id), method: :post do %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

