<%= javascript_pack_tag 'pages/index' %>
<%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="row">
<div class="col-md-6" style="background: white; height: 600px;">            <!--左画面の作成-->

  <div class="profile">　　                                                  <!--my profile&name表示-->
    <%= image_tag 'top_icon.png',class:'example1' %>　
    <span>　友杉　颯太</span>
    <span>(ニックネーム)</span>
  </div>
  <br>　
  <form id="form1" action="自分のサイトURL" method="get">                     <!--検索ボックス作成-->
    <input id="sbox1" id="s" name="s" type="text" placeholder="友達を検索" />
    <input id="sbtn1" type="submit" value="検索" /></form>
<br>

  <div class="hidden_box">
    <label for="label1">友達</label>
    <input type="checkbox" id="label1"/>
    <div class="hidden_show">
      <!--非表示ここから-->
      <%= image_tag 'top_icon.png',class:'example1' %>　
      <span>　須山　龍</span>
      <span>(ニックネーム)</span>
      <!--ここまで-->
    </div>

    <div class="hidden_box">
      <label for="label2">グループ</label>
      <input type="checkbox" id="label2"/>
      <div class="hidden_show">
        <!--非表示ここから-->
        <%= image_tag 'top_icon.png',class:'example1' %>　
        <span>　遠藤　圭樹</span>
        <span>(ニックネーム)</span>
        <!--ここまで-->
      </div>
    </div>
  </div>
</div>                                                                      <!--左画面の作成ここまで-->

<div class="col-md-6" style="background: blue; height: 600px;">　</div>     <!--右画面制作-->

</div>