<%= javascript_pack_tag 'pages/index' %>
<%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<main>
  <div class="profile">　　                                                  <!--my profile&name表示-->
    <%= image_tag 'top_icon.png',class:'example1' %>　
    <%= current_user.name %>
    <%= current_user.nickname %>
    (@<%= current_user.userid %>)
  </div>

  <div class="row">
    <div class="col-md-6" style="background: white; height: 650px;">            <!--左画面の作成-->
    <br>
      <div class="page-header" style="text-align: center">                      <!--帯作成-->
        <h1>友だち</h1>
      </div>

      <hr class="style" style="border-top:  1px solid #000000">

      <%= form_with url: page_user_path, class: "container-fluid col px-0" ,local: false,remote: true do |f| %>
        <p class="me-3">ユーザー検索</p>
        <div class="input-group">
          <%= f.text_field :name, class: "form-control mb-3",placeholder: "UserName",aria: {label:"Username",describedby: "basic-addon1"} %>
        </div>
      <% end %>

      <div id="favorite_user"></div>

      <button
        type="button"
        class="btn btn-secondary btn-lg w-100 mt-2 mb-3"
        style="background-color: #00A1AE"
        data-toggle="collapse"
        data-target="#collapseExample1"
        aria-expanded="false"
        aria-controls="collapseExample1">
        お気に入り
      </button>
      <!-- /トリガーとなるリンク&ボタン -->

      <!-- 対象のコンテンツ -->

      <% @mates.each do |user| %>
        <% unless current_user.is_favorite?(current_user,user) == false %>
          <div class="collapse show mb-3" id="collapseExample1">
            <%= image_tag 'top_icon.png',class:'example1' %>
            <%= user.name %>
            <%= user.nickname %>
            <div class="float-end mt-3">

              <% if current_user.is_favorite?(current_user,user) %>
                <%= link_to page_favorite_path(user.id,current_user.id), method: :delete do %>
                  <i class="fas fa-star"></i>
                <% end %>
              <% else %>
                <%= link_to  page_favorite_index_path(user.id), method: :post do %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>

            </div>
          </div>
        <% end %>
      <% end %>

      <button
        type="button"
        class="btn btn-secondary btn-lg w-100 mt-2 mb-3"
        style="background-color: #00A1AE"
        data-toggle="collapse"
        data-target="#collapseExample2"
        aria-expanded="false"
        aria-controls="collapseExample2"
      >
        友達
      </button>
      <!-- /トリガーとなるリンク&ボタン -->

      <!-- 対象のコンテンツ -->

      <% @mates.each do |user| %>
          <div class="collapse show mb-3" id="collapseExample2">
            <%= image_tag 'top_icon.png',class:'example1' %>
            <%= user.name %>
            <%= user.nickname %>
            <div class="float-end mt-3">

              <% if current_user.is_favorite?(current_user,user) %>
                <%= link_to page_favorite_path(user.id,current_user.id), method: :delete do %>
                  <i class="fas fa-star"></i>
                <% end %>
              <% else %>
                <%= link_to  page_favorite_index_path(user.id), method: :post do %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
      <!--左画面の作成ここまで-->

    <div class="col-md-6" style="background: white; height: 650px;">　
     <br>

      <div class="page-header" style="text-align: center">                      <!--帯作成-->
        <h1>コミュニティ</h1>
      </div>

      <hr class="style" style="border-top: 1px solid #000000">

      <%= form_with url: profile_search_path,:method => 'get',class: "container-fluid col px-0" do |f| %>
        <p class="me-3">コミュニティ検索</p>
        <div class="input-group">
          <%= f.text_field :name, class: "form-control mb-3",placeholder: "CommunityName",aria: {label:"Username",describedby: "basic-addon1"} %>
        </div>
      <% end %>

      <button
        type="button"
        class="btn btn-secondary btn-lg w-100 mt-2 mb-3"
        style="background-color: #00A1AE"
        data-toggle="collapse"
        data-target="#collapseExample3"
        aria-expanded="false"
        aria-controls="collapseExample3"
      >
        お気に入り
      </button>
      <!-- /トリガーとなるリンク&ボタン -->

      <!-- 対象のコンテンツ -->
      <div class="collapse show" id="collapseExample3">
        <%= image_tag 'top_icon.png',class:'example1' %>　
        <span>とある愛好家</span>
      </div>

      <button
        type="button"
        class="btn btn-secondary btn-lg w-100 mt-2 mb-3"
        style="background-color: #00A1AE"
        data-toggle="collapse"
        data-target="#collapseExample3"
        aria-expanded="false"
        aria-controls="collapseExample3"
      >
        コミュニティ
      </button>
      <!-- /トリガーとなるリンク&ボタン -->

      <!-- 対象のコンテンツ -->
      <div class="collapse show" id="collapseExample4" >
        <%= image_tag 'top_icon.png',class:'example1' %>　
        <span>　東京卍会</span>
      </div>
    </div>     <!--右画面制作-->
  </div>
</main>