<%= stylesheet_link_tag 'help', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="pt-5 mar-btm ">
        <h4 class="text-thin"><i class="fa fa-lightbulb-o fa-lg fa-fw text-warning"></i> ガイド </h4>
        <div class="list-group bg-trans">
          <p class="list-group-item">
            <span class="badge badge-purple badge-icon badge-fw pull-left"></span><%= link_to "About", about_path %></p>
          <p class="list-group-item">
            <span class="badge badge-info badge-icon badge-fw pull-left"></span><%= link_to "利用規約", static_path %></p>
          <p class="list-group-item">
            <span class="badge badge-pink badge-icon badge-fw pull-left"></span><%= link_to "プライバシーポリシー", privacy_path %>
          </p>
          <p class="list-group-item">
            <span class="badge badge-success badge-icon badge-fw pull-left"></span><%= link_to "Q&A", page_path(current_user.nickname) %>
          </p>
          <p class="list-group-item">
            <span class="badge badge-warning badge-icon badge-fw pull-left"></span><%= link_to "ヘルプ", about_path %></p>
        </div>

      </div>
    </div>
    <div class="col-md-9">
      <div class="panel">
        <div class="panel-body">
          <h3 class="pad-all bord-btm text-thin">Q&A</h3>
          <div id="demo-gen-faq" class="panel-group accordion">
            <div class="bord-no pad-top">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-sm-10 col-lg-8">
                    <div class="accordion faq-accordian shadow-sm" id="faqAccordion">
                      <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                          <h6 data-bs-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">Q.退会方法がわかりません。<span class="lni-chevron-up"></span>
                          </h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                          <div class="card-body">
                            <p>A.「その他」→「設定」→「ユーザー情報を編集」→アカウントの削除ボタンをクリック。</p>
                          </div>
                        </div>
                      </div>

                      <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                          <h6 data-bs-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">Q.友達の作り方がわかりません。<span class="lni-chevron-up"></span>
                          </h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                          <div class="card-body">
                            <p>コミュニティ、タイムラインのおすすめからユーザーをフォローしてコミュニケーションを始めよう！</p>
                          </div>
                        </div>
                      </div>

                      <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                          <h6 data-bs-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Q.バッジに何か効果はありますか？<span class="lni-chevron-up"></span>
                          </h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                          <div class="card-body">
                            <p>A.バッチには特別な効果はありません。バッジはAmicaの一つの遊び要素です。</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-5   mar-btm">
                      <h4 class="text-thin"><i class="fa fa-question-circle fa-lg fa-fw text-primary "></i> 問題は解決されましたか？
                      </h4>
                      <p class="text-muted mar-top ms-3 fs-6">問題が解決されない場合は<%= link_to "お問い合わせ", contact_path %>
                        までお願い致します。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
