<h2 class="label text-center mb-2" style="color:deeppink">Amicaへようこそ!</h2>
<p class="label text-center mb-2">Amicaは自分の趣味や好きなこと、興味あることで他人を見つけることに特化した友達探しツールです！<br/>このチュートリアルを見てAmicaの使い方をマスターしましょう！
</p>

<div class="d-none d-lg-block d-xl-block d-xxl-block">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("tutorial1.png", class: "d-block w-100") %>
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255,255,255,.6)">
            <h5 style="color: #000">Step1</h5>
            <p style="color: #000">マイページの編集からタグを追加しましょう！タグは自分の趣味や興味のあることを入力しましょう！</p>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("tutorial2.png", class: "d-block w-100") %>
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255,255,255,.6)">
            <h5 style="color: #000">Step2</h5>
            <p style="color: #000">あなたの趣味やに一致するおすすめユーザーをフォローしましょう！</p>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("tutorial3.png", class: "d-block w-100") %>
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255,255,255,.6)">
            <h5 style="color: #000">Step3</h5>
            <p style="color: #000">タイムラインを投稿してみんなとその日の出来事を共有しましょう！</p>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag("tutorial4.png", class: "d-block w-100") %>
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(255,255,255,.6)">
            <h5 style="color: #000">Step4</h5>
            <p style="color: #000">コミュニティに参加して自分のことを知ってもらいましょう！</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="text-center mt-4">
      <div><%= link_to "さあ！Amicaを使ってみましょう！", pages_path, class: "btn btn-primary w-100" %></div>
    </div>
  </div>
</div>

<div class="d-block d-lg-none d-xl-none d-xxl-none">
  <div class="container text-center">
    <hr/>
    <h5 style="color: #000">Step1</h5>
    <p style="color: #000">マイページの編集からタグを追加しましょう！タグは自分の趣味や興味のあることを入力しましょう！</p>
    <%= image_tag("tutorial1.png", class: "w-100") %>
    <hr/>
    <h5 style="color: #000">Step2</h5>
    <p style="color: #000">あなたの趣味やに一致するおすすめユーザーをフォローしましょう！</p>
    <%= image_tag("tutorial2.png", class: "w-100") %>
    <hr/>
    <h5 style="color: #000">Step3</h5>
    <p style="color: #000">タイムラインを投稿してみんなとその日の出来事を共有しましょう！</p>
    <%= image_tag("tutorial3.png", class: "w-100") %>
    <hr/>
    <h5 style="color: #000">Step4</h5>
    <p style="color: #000">コミュニティに参加して自分のことを知ってもらいましょう！</p>
    <%= image_tag("tutorial4.png", class: "w-100") %>
    <hr/>
    <div class="text-center mt-4">
      <div><%= link_to "さあ！Amicaを使ってみましょう！", pages_path, class: "btn btn-primary w-100" %></div>
    </div>
  </div>
</div>