<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'home/index' %>

<div class="text-center">
  <h1>Amicaへようこそ</h1>
  <p>これから、チュートリアルを開始します。</p>
  <h2>1.ホットバー</h2>
  <%= image_tag 'user_top_tutorial.png', :size => '640x360', class: "img-fluid" %>
  <p>まずは、右上のバーについての説明です。<br>
    左から、通知、チャット、コミュニティ、タイムライン、友達、その他となっています。
  </p>


  <h2>2.プロフィール</h2>
  <p>まずは、プロフィール画面の説明です。</p>
  <%= image_tag 'user_page_tutorial.jpg', :size => '640x360', class: "img-fluid" %>
  <p>ここでは、自分の名前、ニックネーム、ID、学科、クラス、出席番号、学籍番号、取得資格。<br>
    そして、自分のフォロワー、フォロー、バッジを閲覧できます。</p>
  <p class="text-danger">チュートリアル終了後、各プロフィール項目は必ず設定してください。</p>
  <%= image_tag 'user_change_tutorial.png', :size => '640x360', class: "img-fluid" %>
  <p>名前、ニックネーム、ID、取得資格は画面右上の編集ボタンから変更できます。</p>

  <h2>3.友達</h2>
  <%= image_tag 'user_friend_tutorial.png', :size => '640x360', class: "img-fluid" %>
  <p>続いて、友達一覧画面です。友達は、お互いにフォローしあっているユーザー同士が表示され<br>個人間でのチャットが使用できます。<br>
    また、IDを参照して友達を登録する事もできます。</p>

  <h2>4.タイムライン</h2>
  <%= image_tag 'user_timeline_tutorial.png', :size => '640x360', class: "img-fluid" %>
  <p>タイムラインは、Amicaに登録しているユーザー全ての投稿を見る事ができます。<br>
    他ユーザーのタイムラインに対して反応をしたり、タイムラインの面白い投稿から、友達をフォローしたりする事ができます。</p>

  <h2>5.コミュニティ</h2>
  <%= image_tag 'user_community_tutorial.png', :size => '640x360', class: "img-fluid" %>
  <p>コミュニティでは、コミュニティチャットとして大人数でチャットをする事ができます。<br>
    自分の興味のあるコミュニティを作成或いは検索をし、同じ事に興味がある方々とのコミュニケーションを楽しみましょう。</p>

  <p>説明は以上です。それでは早速Amicaを使ってみましょう。</p>


  <a href="tutorial">ページ上に戻る</a>
</div>
