<h1><%=ENV["APP_NAME"] %></h1>

<p>※このメールは自動送信メールです。</p>

<h2><%= @contact.name %>様</h2>

<p>お問い合わせありがとうございました。
  必要に応じてメッセージを返答いたします。</p>
<br/>
お問い合わせ内容
<p>-------------------------------------------</p>
<br/>
<p><%= @contact.message %></p>
<br/>
<p>-------------------------------------------</p>
<br/>
<p>※このメールは送信専用です。お問い合わせはサイト内のお問い合わせからお願いします。</p>
<p>※このメールが身に覚えがない場合は、アカウントが乗っ取られている可能性がありますので、お手数ですがサイト内からお問い合わせをお願いします。</p>
<br />
<br />
<p>-------------------------------------------</p>
<p><%=ENV["APP_NAME"] %></p>
<p><%=ENV["URL"] %></p>
<p><%=ENV["DEVELOPMENT_GROUP"] %></p>
<p>Email : <%=ENV["EMAIL"] %></p>
<p>-------------------------------------------</p>
