<h1><%=ENV["APP_NAME"] %></h1>

<p>※このメールは自動送信メールです。</p>

<h2><%= @report.user.name %>様</h2>
<p>通報を受け取りました</p>
<br />
<p>「<%= ENV['APP_NAME'] %>」運営の「<%= ENV['DEVELOPMENT_GROUP'] %>」です。</p>
<br/>
<p>通報を受け取りました。</p>
<p>必要に応じてメッセージを返答いたします。</p>
<br/>
<p>通報内容</p>
<p>-------------------------------------------</p>
<p><%= @report.message %></p>
<p>-------------------------------------------</p>
<br/>
<p>※URLの有効期限は24時間です。</p>
<p>※このメールは送信専用です。お問い合わせはサイト内のお問い合わせからお願いします。</p>
<p>※このメールが身に覚えがない場合は、お手数ですが破棄していただきますようよろしくお願い申し上げます</p>
<br />
<br />
<p>-------------------------------------------</p>
<p><%=ENV["APP_NAME"] %></p>
<p><%=ENV["URL"] %></p>
<p><%=ENV["DEVELOPMENT_GROUP"] %></p>
<p>Email : <%=ENV["EMAIL"] %></p>
<p>-------------------------------------------</p>
