<%= stylesheet_link_tag "mypages"%>

<div class="header">
  マイページ
</div>
<body>

<p>

  <%= image_tag 'background2.jpg',class:'myicon' %>
<div class="right">
  <%= current_user.nickname %><br>
  <%= current_user.userid %>
</div>
<%= form_with model: @hoge do |f| %>
<div class="profile">
　　学生　　クラス　　番号　　学籍番号<br>
  <%= f.select :year, [["情報処理科1年", "情報処理科1年"],["情報処理科2年", "情報処理科2年"],["実践IoT1年", "実践IoT1年"],["実践IoT2年", "実践IoT2年"],
                       ["Web技術科1年", "Web技術科1年"],["Web技術科2年", "Web技術科2年"],["ビジネス科1年", "ビジネス科1年"],["ビジネス科2年", "ビジネス科2年"],
                       ["先端ITシステム1年", "先端ITシステム1年"],["先端ITシステム2年", "先端ITシステム2年"],["先端ITシステム3年", "先端ITシステム3年"],["ITライセンス1年", "ITライセンス1年"],
                       ["実践AI科1年", "実践AI科1年"],["実践AI科2年", "実践AI科2年"],["実践AI科3年", "実践AI科3年"],["実践AI科4年", "実践AI科4年"],
                       ["情報セキュリティ学科1年", "情報セキュリティ学科1年"],["情報セキュリティ学科2年", "情報セキュリティ学科2年"],["情報セキュリティ学科3年", "情報セキュリティ学科3年"],["情報セキュリティ学科4年", "情報セキュリティ学科4年"]],include_blank: "学科"%>
  <%= f.select :class, [["1", "1"], ["2", "2"], ["3", "3"],["4", "4"],["5", "5"],["6", "6"],["7", "7"],["8", "8"],["9", "9"],["10", "10"]], include_blank: "クラス" %>
  <%= f.text_field :number %>
  <%= f.text_field :sudentid %><br>
自己紹介<br>
  <%= f.text_area :introduction %><br>
取得資格<br>
  <%= f.text_area :introduction %><br>
タグ、趣味<br>
  <%= f.text_area :introduction %><br>
  <%= f.submit '更新'%>
  </div>
</p>
</body>
<%end %>