
<div class="header">
  マイページ
</div>
<body>

<p>

  <%= image_tag 'background2.jpg',class:'myicon' %>
<div class="right">
  ニックネーム：<%= current_user.nickname %><br>
  ID：<%= current_user.userid %>
  学科：<%= @user %>
  クラス：<%= current_user.userid %>
  出席番号<%= current_user.userid %>
  学籍番号<%= current_user.userid %>
  自己紹介<%= current_user.userid %>
  取得資格<%= current_user.userid %>
  タグ、趣味<%= current_user.userid %>
</div>
