<%= stylesheet_link_tag 'registrations', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class = "register">
<h2>ログイン</h2>

<div id="contact_form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class ="inputs">
      <div class="inputWithIcon">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input",:placeholder=>"email"%>
        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
      </div>

      <div class="inputWithIcon">
        <%= f.password_field :password, autocomplete: "current-password", class: "input",:placeholder=>"password" %>
        <i class="fa fa-unlock-alt fa-lg fa-fw" aria-hidden="true"></i>
      </div>
    </div>

      <% if devise_mapping.rememberable? %>
         <div class="rememberCheckBox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me ,class:"submit_button"%>
        </div>
      <% end %>

      <div class="button01">
        <%= f.submit "ログイン" , class:"submit_button"%>
      </div>
    </div>

<% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>