<%= stylesheet_link_tag 'registrations', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="text-center">
<h2 style="margin-bottom: 50px">ログイン</h2>

  <div id="contact_form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "inputEmail", class: "form-control",:placeholder=>"email" ,style: "margin-bottom: 30px" %>
          <%= f.password_field :password, autocomplete: "current-password", id:"inputPassword",class: "form-control",:placeholder=>"password",style: "margin-bottom: 30px" %>

          <% if devise_mapping.rememberable? %>
          <div class="checkbox mb-3">
            <label>
              <%= f.check_box :remember_me,style: "margin-bottom: 30px" %>ログインを記憶する
            </label>
          </div>
          <% end %>
        <%= f.submit "ログイン" , class:"btn btn-lg btn-primary"%>
    <% end %>
  </div>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>