<main class="container">
  <h2 class="text-center">#<%= params[:search_id] %>の検索結果</h2>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">ユーザーリスト (<%= @users.count %>)</h6>
    <% @users.each do |user| %>
      <%= link_to profile_path(user.userid),style:"text-decoration: none;" do %>
        <div class="d-flex text-muted pt-3">
            <%= image_tag  user.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded",width: "40px",height: "40px" %>
          <p class="pb-3 mb-0 small lh-sm  border-bottom w-100">
            <strong class="d-block text-gray-dark"><%= user.name %> (<%= user.nickname %>)</strong>
            @<%= user.userid %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">コミュニティリスト (<%= @communities.count %>)</h6>
    <% @communities.each do |community| %>
      <%= link_to community_path(community.id) ,style:"text-decoration: none;" do %>
        <div class="d-flex text-muted pt-3">
          <% if community.icon? %>
            <%= image_tag "/communities_image/#{community.icon}", class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded",width: "40px",height: "40px" %><br>
          <% else %>
            <%= image_tag "default_icon", class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded" ,width: "40px",height: "40px"%><br>
          <% end %>
          <p class="mb-0 border-bottom w-100" style="padding: 0;"><%= community.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</main>