<%= stylesheet_link_tag 'timelines' %>
<%= javascript_pack_tag 'timeline/main'%>

<%= render 'timelines/nav', page:@page %>

<div class="container">
  <%= render "timelines/form", create:@create %>
  <%= render partial:"timelines/post", collection:@posts , as: :post, locals: { post_model: @post } %>
  <%= render "layouts/pagenate", pagenate: @posts %>
</div>
