<%= stylesheet_link_tag 'timelines', media: 'all', 'data-turbolinks-track': 'reload' %>
  <ul class="header-menus">

    <li>
      <%= link_to("投稿一覧", timelines_path) %>
    </li>
    <li>
      <%= link_to("新規投稿", "/timelines/new") %>
    </li>
    <li>
      <%= link_to("編集", edit_timeline_path(1)) %>
    </li>
  </ul>
<div class="activity" >
  <% @posts.each do |post| %>
  <%= post.content %><br>
    </div>
<% end %>

