<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<%= stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'contacts', media: 'all', 'data-turbolinks-track': 'reload' %>

<body>

<%= flash.now[:notice] %>
<!--- この辺にログインの認証 --->
<header>

</header>

<section class="ask">
  <span class="big">お問い合わせ</span>
  <div class="medium">

    <%= form_for(@inquiry, url: maller_create_path) do |f|%>
      <%= f.label "名前" %>
      <%= f.text_field :name %>
      <%= f.label "email" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br />
      <%= f.label "お問い合わせ内容" %><br />
      <%= f.text_area :message %><br>
      <%= f.submit "送信" %>
      <%= f.submit "クリア" ,type: :reset%>
    <% end %>
  </div>
</section>

</body>
</html>