<h1><%=ENV["APP_NAME"] %></h1>

<p>※このメールは自動送信メールです。</p>

<h2><%= @email %>様</h2>

<p>「<%= ENV['APP_NAME'] %>」運営の「<%= ENV['DEVELOPMENT_GROUP'] %>」です。</p>
<br/>
<p>パスワードは以下のリンクから変更してください。</p>
<br/>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<br/>
<p>※URLの有効期限は3時間です。</p>
<p>※このメールは送信専用です。お問い合わせはサイト内のお問い合わせからお願いします。</p>
<p>※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
<p>※このメールが身に覚えがない場合は、アカウントが乗っ取られている可能性がありますので、お手数ですがサイト内からお問い合わせをお願いします。</p>
<br />
<br />
<p>-------------------------------------------</p>
<p><%=ENV["APP_NAME"] %></p>
<p><%=ENV["URL"] %></p>
<p><%=ENV["DEVELOPMENT_GROUP"] %></p>
<p>Email : <%=ENV["EMAIL"] %></p>
<p>-------------------------------------------</p>
