<html>
  <%= stylesheet_link_tag 'communities', media: 'all', 'data-turbolinks-track': 'reload' %>
    <h1>コミュニティ</h1>
    <div class="btn-horizontal-border">
      <p>
      <%=link_to "コミュニティ新規作成","/communities/new"%>
      </p>
    </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4  g-lg-4">
      <% @community.each do |community| %>
        <%= link_to community_path(community.id), style: "text-decoration: none" do %>
          <div class="col">
            <div class="card">
                <% if community.icon? %>
                  <%= image_tag "/communities_image/#{community.icon}",class: "card-img-top",width: "300",height: "300" %><br>
                <% else %>
                  <%= image_tag /"default_icon"/, class: "card-img-top",width: "300",height: "300"%><br>
                <% end %>
                <div class="carddy">
                  <h5 class="card-title"><%= community.name %></h5>
                  <p class="card-text"><%= community.content .truncate(100, omission: '...')%></p>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Created by <%= @user.find(community.user_id).nickname %></small>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</html>