<%= stylesheet_link_tag 'communities', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>コミュニティ</h1>
<div class="btn-horizontal-border">
<p>
<%=link_to "コミュニティ新規作成","/communities/new"%>
</p>
</div>
<% @community.each do |community| %>
  <div class="community">
    <%= link_to community_path(community.id) do %>

      <% if community.icon? %>
       <%= image_tag "/communities_image/#{community.icon}",class: "community_icon_edit"%><br>
      <% else %>
        <%= image_tag /"default_icon"/, class: "community_icon_edit" %><br>
     <% end %>

    <div class="userid">
      <%= @user.find(community.user_id).nickname %><br>
    </div>

    <div class="community_name">
      <%= community.name%><br>
    </div>

    <div class="community_content">
      <%= community.content %><br>
    </div>
<% end %>
  </div>
  <% end %>