<%= stylesheet_link_tag 'communities', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tag-it/2.0/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/tag-it/2.0/css/jquery.tagit.min.css" rel="stylesheet" type="text/css">

<% javascript_pack_tag "communities/new" %>
<script>
    $(document).ready(function() {
        $("#tags").tagit();
    });

    function previewImage(obj) {
        var fileReader = new FileReader();
        fileReader.onload = function() {
            document.getElementById('preview').src = fileReader.result;
        };
        fileReader.readAsDataURL(obj.files[0]);
    }
</script>

<div class="container">
  <%= form_for(@community, url: communities_path, multipart: true,class: "needs-validation") do |f| %>
    <main>
      <div class="py-5 text-center">
        <h2>コミュニティ新規作成</h2>
        <p class="lead">コミュニティを作成して、同じ趣味の友だちを探しましょう！</p>
        <div class="uploader">
          <div class="form1">
            <label>
              <%= image_tag "default_icon" , :size => '200x200',id:"preview",class: "d-block mx-auto mb-4 border border-success rounded"%>
            </label><br /><br />
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12">
        <div class="row g-3">
          <div class="col-sm-12">
            <%= f.label "コミュニティ名", class:"form-label"%>
            <%= f.text_field :name, autocomplete: "name", class: "form-control" ,:placeholder=>"コミュニティ名"%>
          </div>


          <div class="col-sm-12">
            <%= f.label "概要", class:"form-label"%>
            <%= f.text_area :content, autocomplete: "content", class: "form-control",style:"height:100px" ,:placeholder=>"概要"%>
          </div>

          <div class="col-sm-12">
            <%= f.label "アイコン", class:"form-label"%>
            <%= f.file_field :icon,autocomplete: "icon", class: "form-control",:placeholder=>"icon",onchange: "previewImage(this);"%>
          </div>

          <div class="col-sm-12">
            <%= f.label "タグ" %>
            <ul id="tags">
              <%= f.text_field nil, class: "form-control" %>
            </ul>
          </div>


          <div class="col-sm-12 text-center">
            <%= f.submit "新規作成", class:"w-50 btn btn-primary btn-lg mb-4"%>
          </div>

        </div>
      </div>
    </main>
  <% end %>
</div>