<%= stylesheet_pack_tag 'communities' %>
<%= javascript_pack_tag "communities/new" %>
<%= javascript_pack_tag 'profiles/edit' %>

<script>
    $(document).ready(function () {
        $('#myTags').tagit({
            tagLimit: 20,
            placeholderText: 'タグは20個までです',
            singleField: true,
            availableTags: <%= raw @all_tag_list %>
        });
    });
</script>

<div class="container">
  <%= form_for(@community, url: communities_path, multipart: true, class: "needs-validation") do |f| %>
    <div class="py-5 text-center">
      <h2>新規コミュニティ作成</h2>
      <%= render 'layouts/error_messages', model: f.object %>
      <p class="lead">ここではコミュニティの内容を作成することが出来ます</p>
      <p id="image_text">現在のアイコン</p>
      <div class="uploader mt-4">
        <div id="user_icon">
          <label>
            <button type="button" class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
            <%= image_tag "default_icon.png", :size => '200x200', class: "user_image", style: "width:200px;height:200px" %>
          </label>
        </div>
        <label>
          <button type="button" class="btn btn-primary" style="display: none;" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
          <canvas id="cropped_canvas" style="display:none;width: 200px;height: 200px;"></canvas>
          <img src="" id="result-img" style="display:none;width: 200px;height: 200px;">
        </label>
      </div>
    </div>
    <div class="col-md-12 col-lg-12">
      <div class="row g-3">
        <div class="col-sm-12">
          <%= f.label "コミュニティ名(記号は半角のみです)", class: "form-label" %>
          <%= f.text_field :name, autocomplete: "name", class: "form-control", :placeholder => "コミュニティ名" %>
        </div>


        <div class="col-sm-12">
          <%= f.label "概要", class: "form-label" %>
          <%= f.text_area :content, autocomplete: "content", class: "form-control", style: "height:100px", :placeholder => "概要" %>
        </div>

        <div class="col-sm-12">
          <div class="search-area-colum form-contents">
            <%= f.label "タグ (1つ2~20文字)", class: "form-label" %>
            <%= f.text_field :tag_list, id: "myTags", autocomplete: "tag_list" %>
          </div>
        </div>

        <div class="col-sm-12 text-center">
          <%= f.submit "新規作成", class: "w-50 btn btn-primary btn-lg mb-4" %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:10000">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">画像トリミング</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4 class="modal-text">画像を選択してください</h4>
            <div class="form_wrapper">
              <div id="image-wrapper">
                <%= f.file_field :images, id: "trim_img_uploder", value: "assets/default", accept: 'image/jpg,image/jpeg,image/png' %>
                <%= f.hidden_field :image, id: "image" %>
                <%= f.hidden_field :image_x, id: "image_x" %>
                <%= f.hidden_field :image_y, id: "image_y" %>
                <%= f.hidden_field :image_w, id: "image_w" %>
                <%= f.hidden_field :image_h, id: "image_h" %>
                <%= f.hidden_field :aspect_numerator, id: "aspect_numerator", value: "1.0" %>
                <%= f.hidden_field :aspect_denominator, id: "aspect_denominator", value: "1.0" %>'
                <div id="prev_img">
                  <%= image_tag @community.decorate.image, :size => '200x200', class: "user_image" %>
                </div>
              </div>
            </div>
            <div id="modal_area" style="display: none;">
              <div class="modal_wrapper">
                <div class="modal_padding modal_title_wrapper">
                  <h4>範囲を選択してください</h4>
                </div>
                <div class="canvas_wrapper">
                  <canvas id="source_canvas" width="1" height="1"></canvas>
                </div>
                <div class="modal-footer">
                  <button type="button" id="close_button" class="btn btn-primary" data-bs-dismiss="modal">画像を切り取る</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>