<div class="user_list">
  <%= link_to profile_path(user.user.userid), style: "text-decoration: none;" do %>
    <div class="d-flex justify-content-between">
      <div class="d-flex text-muted pt-3">
        <%= image_tag user.user.decorate.image, class: "icon bd-placeholder-img flex-shrink-0 me-2 rounded", width: "40px", height: "40px" %>
        <p class="pb-3 mb-0 small lh-sm  border-bottom w-100">
          <strong class="d-block text-gray-dark"><%= user.user.name %> (<%= user.user.nickname %>)</strong>
          @<%= user.user.userid %>
        </p>
      </div>
    </div>
  <% end %>
</div>