<!DOCTYPE html>
<html lang="ja" class="h-100">

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>Amica</title>
  <%= stylesheet_pack_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>

  <body class="d-flex h-100 text-center text-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <a class="float-md-start mb-0" href="/" style="font-size:30px; color: #037394;font-weight: bold;text-decoration: none;">Amica</a>
          <nav class="nav nav-masthead　bg-blue justify-content-center float-md-end">
            <a class="nav-link" href="<%= new_user_registration_path %>">新規登録</a>
            <a class="nav-link" href="<%= new_user_session_path %>">ログイン</a>
            <a class="nav-link" href="<%= about_path %>">Amicaについて</a>
            <a class="nav-link" href="<%= contact_path %>">お問い合わせ</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>

      <footer class="mt-auto text-dark">
        <p>©Avails Group
        <%= link_to("利用規約",static_path,class:"text-dark") %>
        <%= link_to("プライバシーポリシー",privacy_path,class:"text-dark")%></p>
      </footer>
    </div>
  </body>
</html>