<!DOCTYPE html>
<html lang="ja" class="h-100">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Amica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('amica.ico') %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'home/settings' %>
    <%= javascript_pack_tag 'home/home' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <meta name=”description” content=”ISC学生向けの友達作りサイトです。”/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FEWKYWJMZD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-FEWKYWJMZD');
    </script>
  </head>

  <body class="d-flex flex-column h-100 text-center text-dark">
    <div id="background"></div>
    <header class="m-0 p-0 mb-auto">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light px-4">
        <%= link_to("Amica", "/", class: "mb-0 lh-sm text-light", style: "margin-left:7px;font-size:24px;text-decoration: none;font-weight:bold") %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDropdown">
          <div class="navbar-nav me-auto m-0 mb-lg-0"></div>
          <ul class="navbar-nav d-flex">
            <li class="nav-item active">
              <a class="nav-link" href="<%= about_path %>">概要</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= contact_path %>">お問い合わせ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_registration_path %>">サインアップ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_session_path %>">ログイン</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="notice"><%= alert %></p>
      <%= yield %>
    </main>

    <footer class="text-center bg-gray text-light mt-auto" style="margin-top:20px">
      <div class="container">
        <span class="text-muted">
          ©2021 - <%= DateTime.now.strftime('%Y') %> <%= link_to("Avails Group", avails_path, class: "text-dark") %>
          <%= link_to("利用規約", static_path, class: "text-dark") %>
          <%= link_to("プライバシーポリシー", privacy_path, class: "text-dark") %>
        </span>
      </div>
    </footer>
  </body>
</html>